[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
scikit-learn = "*"
optuna = "*"
shap = "*"
ipykernel = "*"
ipywidgets = "*"
nbformat = "*"
numpy = "==2.0"
plotly = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
