[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
plotly = "*"
scikit-learn = "*"
scipy = "*"
optuna = "*"
ipywidgets = "*"
ipykernel = "*"
matplotlib = "*"
streamlit = "*"
nbformat = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
